<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <%if(products.length>0) {%>
                <ul>
                    <% products.forEach(product=>{%> 
                        <li>
                            <p><%=product.productData.title%> (<%=product.quantity%>)</p> 
                            <form action="/cart-delete-product">
                                <button class="btn" type="submit">Delete</button>
                                <input type="hidden" name="productId" value="<%=product.productData.id%>">
                            </form>
                        </li> 
                    <%})%>
                </ul>
            <%}else {%>
                <h2>There is not product in cart!</h2>
            <%}%>
        </main>
        <%- include('../includes/end.ejs') %>